
.card , .card::before, .card::after {
    display: inline-block;
    width: 40%;
    justify-items: center;
    margin: 0 auto;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
    font-size: 15px; 

}
